[core]
  editor = vim
[color]
  ui = true
[push]
  default = current
[alias]
  # colorful log
  clog = log --pretty='format:%Cgreen%h%Creset %s ... %Cred%an%Creset'
  # pull only the current branch from the origin
  p = !git pull origin $(git branch --show-current)
